html, body {
    overflow: hidden;
    overscroll-behavior: none;

    padding: 0;
    margin: 0;
}

@font-face {
    font-family: comical;
    src: url("Comic Sans MS.ttf")
}

h1, h2, h3, h4, h5, h6, input, button {
    margin-top: 0;
    font-family: comical, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;
}

.bottom-area {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    padding: 10px;
}

.user-text {
    text-align: center;
    resize: none;

    width: 500px;
    height: 40px;

    font-size: 35px;

    margin: 10px;
    padding: 0;

}

.sub-button {
    padding: 0;
    margin: 10px;

    width: 100px;
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 84px);
}

.h1 {
    font-size: 50px;
}

.game-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-info h5 {
    padding-left: 10px;
    padding-right: 10px;
}


.spinner {
    margin-top: auto;
    margin-bottom: auto;

    position: relative;

    justify-self: center;
}

#spinner-object {
    position: relative;

    width: min(500px, 70vw, 50vh);
    height: min(500px, 70vw, 50vh);

    aspect-ratio: 1;

    cursor: pointer;
}

#game-link {
    cursor: pointer;
}

.spinner-item {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform-origin: 0 0;
}